body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0 auto;
  padding: 20px;
  background: linear-gradient(to right, #1e003a, #14002b);
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}

.profile-info {
  background: linear-gradient(135deg, #e2aaea, #a265f1, #c89afc);
  width: 400px;
  height: 250px;
  margin: 0px auto;
  background-color: #fff;
  padding: 15px;
  border-radius: 6px;
  text-align: center;
}
.profile-info h2 {
  margin: 0;
  color: #333;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 34px;
  font-weight: bold;
  letter-spacing: 1px;
}
.profile-info h3 {
  color: #f5ecec;
  margin: 10px 0;
  text-align: center;
  text-decoration: double;
  text-transform: capitalize;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 2;
}
.profile-info p {
  color: #f5ecec;
  margin: 10px 0;
  text-align: center;
  text-decoration: solid;
  text-transform: capitalize;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.5px;
}
button.btn {
  background-color: #2d24da;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}
button.btn:hover {
  background-color: #1e003a;
}
