body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(to right, #4e73df, #1cc88a);
}
.header {
  color: white;
  text-align: center;
  padding: 20px 0;
}
.header h1 {
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  text-transform: capitalize;
}
.header p {
  margin: 5px 0 0;
  font-size: 18px;
  text-align: center;
  color: #333;
}
/* section  */
.info-section {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(99, 221, 248, 0.8);
  border-radius: 8px;
}
/* box-model */
.box {
  padding: 20px;
  margin: 20px auto;
  width: 300px;
  border: solid 2px black;
  border-radius: 4px;
}
/* Form Styling */
.form-container {
  background-color: #a3d5f0;
  padding: 30px;
  border-radius: 10px;
  width: 350px;
  margin: 20px auto;
}
form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
  color: #444;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.radio-group {
  margin-top: 8px;
}

.radio-group input {
  margin-right: 5px;
}
.radio-group label {
  display: inline;
  margin-right: 15px;
  font-weight: normal;
}

input[type="submit"] {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}
