* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.dashboard{
    display: grid;
    grid-template-columns: 250px 1fr;
    min-height: 100vh;
}
.sidebar{
    background-color: #c89afc;
    padding: 20px 20px;
    color: black;   
    text-align: center;
}
.sidebar h2{
    margin-bottom: 30px;
}
.sidebar ul{
    list-style: none;
    /* border: 1px solid black;  */
}
.sidebar ul li{
    margin-bottom: 15px;
    cursor:pointer;
 

}
.sidebar ul li a{
    text-decoration: none;
    color: white;
    font-size: 22px;
    text-align: center;
      

}

.main-content {
  padding: 20px;
  background-color: #a2a5a9;
}

.main-content h1 {
  margin-bottom: 20px;
  text-align: center;
}
.main-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px;
  margin: 0px auto;
}
.card {
  background: linear-gradient(135deg, #e2aaea, #a265f1, #c89afc);

  min-height: 250px;

  background-color: #fff;
  border: 4px solid rgb(45, 43, 43);
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
}
.card h2 {
  text-align: center;
  text-decoration: underline;
  color: white;
  line-height: 1.5;
  padding: 10px;
}
.card p {
  margin-top: 10px;
    color: black;
}

.btn {
  background-color: blue;
  color: white;
  border: 2px solid black;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}
.btn:hover {
  background-color: rgb(238, 4, 222);
}
@media screen and (max-width:992px){
    .dashboard{
        grid-template-columns: 1fr;
    }
    .sidebar{
        display:flex;
        justify-content: space-around;
        align-items: center;
    }
    .sidebar ul{
        display: flex;
        gap: 20px;
    }
    .sidebar ul li{
        margin: 0;
    }
    .main-card{
        grid-template-columns: 2fr;;
    }
}

@media screen and (max-width: 768px) {
  .dashboard {
    grid-template-columns: 1fr; /* 2 columns */
  }
  .sidebar{
    display:flex;
    justify-content: space-around;
    align-items: center;
  }
  .sidebar ul{
    display: flex;
    gap: 20px;
  }
  .sidebar ul li{
    margin: 0;
  }
  .main-card{
    grid-template-columns: 1fr;;
  }
}
